#scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

header
{
  width: 100%;
  height: 100%;
  background: #ffcad4;
  top: 0;
  position: fixed;
  z-index: -1;
}

footer
{
  width: 100%;
  height: 300px;
  background: #ffa5b6;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.content
{
  height: 1000px;
  min-height: 1000px;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #fff;
}

h2{
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 15px;
  color: #fff;
}

header h1{}

.content h1{
  line-height: 500px;
  color: #9D8189  ;
}

.content h2{
  line-height: 1000px;
  color: #9D8189  ;
}

footer h1
{
  line-height: 300px;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

#about {
  position:relative;
  height:57px;
  width:200px;
  margin:0 auto;
  top:20px;
  left:-340px;
}

#about img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#about img.top:hover {
  opacity:0;
}

#resume {
  position:relative;
  height:57px;
  width:200px;
  margin:0 auto;
  top:-40px;
  left:-100px;
}

#resume img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#resume img.top:hover {
  opacity:0;
}

#projects {
  position:relative;
  height:57px;
  width:200px;
  margin:0 auto;
  top:-90px;
  left:154px;
}

#projects img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#projects img.top:hover {
  opacity:0;
}

#contact {
  position:relative;
  height:57px;
  width:200px;
  margin:0 auto;
  top:-152px;
  left:410px;
}

#contact img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#contact img.top:hover {
  opacity:0;
}


#home {
  position:relative;
  height:45px;
  width:45px;
  margin:0 auto;
  top:-203px;
  left:-575px;
}

#home img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#home img.top:hover {
  opacity:0;
}

#wrapper2 .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
}

#wrapper2:hover .text {
visibility:visible;
}

.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#sugarrush {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
  top:-150px;
  left:-435px;
}

#sugarrush img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#sugarrush img.top:hover {
  opacity:0;
}

#superfan {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
  top:-431px;
  left:0px;
}

#superfan img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#superfan img.top:hover {
  opacity:0;
}

#ikea {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
  top:-712px;
  left:440px;
}

#ikea img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#ikea img.top:hover {
  opacity:0;
}

#bookshelf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
  top:-560px;
  left:-435px;
}

#bookshelf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#bookshelf img.top:hover {
  opacity:0;
}